---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/HeaderReact';
---

<Layout title="Joshua Landau About Page">
    <Header client:only="react" title="About" />
    <div>
        <h2 class="heading">Professional</h2>
        <ul>
            <li>
                Currently I am employed as a GIS Developer providing
                advanced software solutions for federal and local
                government clients.
            </li>
            <li>
                I have four years of professional GIS experience and have
                worked for three successful contracting companies.
            </li>
        </ul>
    </div>
    <br />
    <div>
        <h2 class="heading">Personal</h2>
        <ul>
            <li>
                My passion is making music. I have been playing the guitar
                for 20 years and I am a lifelong metalhead.
            </li>
            <li>
                I strongly value integrity and acting in a way that is honest
                and straightforward.
            </li>
        </ul>
    </div>
</Layout>

<style>
    .heading {
        font-weight: lighter;
        color: white;
        text-align: center;
        border-bottom: 1pt solid white;
        margin: 20px 5%;
    }

    ul > li {
        color: white;
        padding: 10px;
    }

    @media only screen and (min-width: 600px) {
        .heading {
            margin: 20px 10%;
        }

        ul {
            margin: 0 10%;
        }
    }
</style>