---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/HeaderReact';
import { ContactForm } from '../components/ContactFormReact';
---

<Layout title="Joshua Landau Contact Page">
    <Header client:only="react" title="Contact" />
    <p class="heading">
        Let's build something together!
    </p>
    <ContactForm client:only="react" />
</Layout>

<style>
    .heading {
        color: white;
        text-align: center;
        font-size: 16pt;
    }
</style>