---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/HeaderReact';
---

<Layout title="Joshua Landau Developer Portfolio">
	<Header client:only="react" title='Joshua Landau' />
	<main>
		<div style="display: flex; justify-content: center;">
			<img id="profile-picture" src="/profile-picture-min.png" alt="Profile Picture" />
		</div>
		<p class="text">
			<!-- Hello! I am a motivated GIS Developer with 4 years of professional 
			experience. Currently I work to provide advanced software solutions to
			federal and local government clients. -->
			Hello! I am a professional developer with 4 years of experience working with both private
			and government clients. Building useful and inspiring applications is something that I
			am passionate about, and I am always looking for opportunities to work on something new.
			Please feel free to <a href="/projects" class="text">view some of my projects</a> or 
			<a href="/contact" class="text">reach out</a> if you are interested in working with me.
		</p>
		<fieldset>
			<legend class="text">Tools I Use</legend>
			<div class="skills">
				<img class="skillsIcon" src="/icons/react-logo-min.png" alt="react" />
				<img class="skillsIcon" src="/icons/angular-logo-min.png" alt="angular" />
				<img class="skillsIcon" src="/icons/js-logo-min.png" alt="javascript" />
				<img class="skillsIcon" src="/icons/python-logo-min.png" alt="python" />
				<img style="height: 50px;" src="/icons/django-logo-min.png" alt="django" />
				<img style="height: 40px;" src="/icons/docker-logo-min.png" alt="docker" />
				<img class="skillsIcon" src="/icons/postgres-logo-min.png" alt="postgresql" />
			</div>
		</fieldset>
	</main>
</Layout>

<style>
	img#profile-picture {
		height: 200px;
		border: 1pt solid black;
		border-radius: 50%;
	}

	.skills {
		display: flex;
		flex-direction: row;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.icon {
		width: 30px;
		height: 30px;
	}

	.skillsIcon {
		width: 50px;
		height: 50px;
	}

	fieldset {
		border-radius: 8px;
	}

	legend {
		color: white;
		font-size: 16pt;
	}

	main {
		margin: 10px 20px 20% 20px;
		display: flex;
		flex-direction: column;
		/*flex: 1 0 auto;*/
		/*justify-content: center;*/
		gap: 20px;
	}

	@media only screen and (min-width: 600px) {
		main {
			margin: 0 20%;
		}
	}
</style>
