<ul class="links">
    <li>
        <a href="https://github.com/jdlandau123">
            <img class="icon" src="/github-white.png" alt="GitHub" />
        </a>
    </li>
    <li>
        <a href="https://linkedin.com/in/joshuadlandau">
            <img class="icon" src="/linkedin-64.png" alt="LinkedIn" />
        </a>
    </li>
    <li>
        <a href="#" style="color: white; text-decoration: none; font-size: 16pt">
            Resume
        </a>
    </li>
</ul>

<style>
    .icon {
		width: 30px;
		height: 30px;
	}

    .links {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1pt solid white;
    }
</style>