---
const currentYear = new Date().getFullYear();
---

<div class="container">
    <ul class="links">
        <li>
            <a href="https://github.com/jdlandau123">
                <img class="icon" src="/icons/github-white.png" alt="GitHub" />
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/in/joshuadlandau">
                <img class="icon" src="/icons/linkedin-64.png" alt="LinkedIn" />
            </a>
        </li>
    </ul>
    <p class="text">&copy; {currentYear} Joshua Landau</p>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1pt solid white;
        background-color: black;
    }

    .icon {
		width: 30px;
		height: 30px;
	}

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 50%;
        list-style: none;
        padding-left: 5%;
    }

    .text {
        font-size: 10pt;
        margin-right: 5%;
    }

    @media only screen and (min-width: 600px) {
        .links {
            padding-left: 2%;
        }

        .text {
            margin-right: 2%;
        }
    }
</style>