---
const { title } = Astro.props;
---

<div class="header">
    <a id="home-link" href="/">
       <h1>{title}</h1> 
    </a>
    <button class="hamburger">
        <img class="icon menuIcon" src="/menu-icon-white.png" alt="Menu" />
        <img class="icon closeIcon" src="/close-icon-white.png" alt="Close" style="display: none;" />
    </button>
    <ul class="mobile-menu">
        <li><a class="menuItem" href="index.html">Home</a></li>
        <li><a class="menuItem" href="projects.html">Projects</a></li>
        <li><a class="menuItem" href="about.html">About</a></li>
        <li><a class="menuItem" href="contact.html">Contact</a></li>
    </ul>
    <ul class="desktop-menu">
        <li><a class="menuItem" href="index.html">Home</a></li>
        <li><a class="menuItem" href="projects.html">Projects</a></li>
        <li><a class="menuItem" href="about.html">About</a></li>
        <li><a class="menuItem" href="contact.html">Contact</a></li>
    </ul>
</div>

<script>
    const menu = document.querySelector<HTMLElement>(".mobile-menu");
    const menuItems = document.querySelectorAll<HTMLElement>(".menuItem");
    const closeIcon= document.querySelector<HTMLElement>(".closeIcon");
    const menuIcon = document.querySelector<HTMLElement>(".menuIcon");
    
    function toggleMenu() {
        if (menu.classList.contains("showMenu")) {
            menu.classList.remove("showMenu");
            closeIcon.style.display = "none";
            menuIcon.style.display = "block";
        } else {
            menu.classList.add("showMenu");
            closeIcon.style.display = "block";
            menuIcon.style.display = "none";
        }
    }
    
    menuItems.forEach(item => {
        item.addEventListener("click", () => menu.style.display = "none");
    })

    menuIcon.addEventListener('click', toggleMenu);
    closeIcon.addEventListener('click', toggleMenu);
</script>

<style>
    h1, h2 {
        font-weight: lighter;
        color: white;
    }

    a#home-link {
        text-decoration: none;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        color: white;
        border-radius: 10px;
    }

    .hamburger {
        background: transparent;
        border: transparent;
        z-index: 100;
        padding: 4px;
        cursor: pointer;
    }

    .mobile-menu {
        position: fixed;
        transform: translateY(-120%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(-15px);
    }

    .mobile-menu > li {
        margin: 15px 0;
    }

    .desktop-menu {
        display: none;
    }

    .menuItem {
        color: white;
        font-size: 18pt;
        text-decoration: none;
    }

    /*desktop only styles*/
    @media only screen and (min-width: 600px) {
        .hamburger {
            display: none;
        }

        .desktop-menu {
            display: flex;
            flex-direction: row;
            gap: 15px;
            list-style: none;
        }

        .menuItem {
            font-size: 14pt;
        }

        .menuItem:hover {
            text-decoration: underline;
        }
    }
</style>